# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db

# Data directory
data/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/